{{#with navbar}}
<nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!--========== Start Brand Logo ==========-->
                        <div class="navbar-brand pull-left">
                            <a href="/"><h3 class="brand">{{brandName}}</h3></a>
                        </div>
                        <!--========== End Brand Logo ==========-->
                    </div>
                    <!--==========  Collect the nav links, forms, and other content for toggling  ==========-->
                    <div class="collapse navbar-collapse navbar-collapse1">
                        <div class="nav pull-right">
                            <a href="/#about" class="lrs-link-nav">About Me</a>
                            <a href="/#education" class="lrs-link-nav">Education</a>
                            <a href="/#skills" class="lrs-link-nav">Skills</a>
                            <!--<a href="#work" class="lrs-link-nav">Work</a>-->
                            <a href="#experience" class="lrs-link-nav">Experience</a>
                            <!--<a href="#reference" class="lrs-link-nav">References</a>
                            <a href="#pricing" class="lrs-link-nav">Pricing</a>-->
                            <a href="blog.html" class="lrs-link-nav">Blog</a>
                            <a href="/#contact" class="lrs-link-nav">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
{{/with}}