<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== Title Page ==========-->
    <title>{{pageTitle}}</title>

    <!--========== Start Favicon ==========-->
    <!-- Standard -->
    <link rel="shortcut icon" href="/images/icons/favicon.html">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/favicon-retina-ipad.html">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/favicon-retina-iphone.html">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/favicon-standard-ipad.html">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/favicon-standard-iphone.html">
    <!--========== End Favicon ==========-->

    <!--========== Start Fonts ==========-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yellowtail">
    <!--========== End Fonts ==========-->

    <!--========== Start Styles CSS ==========-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/gallery.css"/>
    <link rel="stylesheet" href="/stylesheets/elements.css"/>
    <link rel="stylesheet" href="/stylesheets/theme.css"/>
    <link rel="stylesheet" href="/stylesheets/responsive-theme.css"/>
    <!--========== End Styles CSS ==========-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71483603-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  {{{ body }}}
</body>
</html>